
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.ournumbers{
    font-family: "Playfair Display", serif;
}

.ournumbers h2{
    font-family: Playfair Display;
font-size: 40px;
font-weight: 700;
line-height: 66.65px;
letter-spacing: 0.05em;
text-align:center;
}

.numbers{
    font-family: Inter;
font-size: 30px;
font-weight: 700;
line-height: 60.51px;
letter-spacing: 0.05em;
}

.numbers-text{
    font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 36.31px;
letter-spacing: 0.05em;
}